In [1]:
import pandas as pd

In [28]:
data = {
    "id":[0,1,2,3,4],
    "Name":["Zaid","Avinash","Asad","Amaan","Amaan"],
    "Grade":["A","B","C","D","D"],
    "Age":[21,20,12,22,22]
}

In [30]:
df = pd.DataFrame(data)

In [32]:
df

   id     Name Grade  Age
0   0     Zaid     A   21
1   1  Avinash     B   20
2   2     Asad     C   12
3   3    Amaan     D   22
4   4    Amaan     D   22

In [34]:
print(df.nunique())

id       5
Name     4
Grade    4
Age      4
dtype: int64

In [36]:
df['Name'].nunique()

4